<div class="col-xs-8 col-xs-offset-2 about">
  <div class="well">
  <h1 class="text-center">About Anarchquotes</h1>

  <p>
    This random 'anarchquote' generator was created by an aspiring web developer enrolled at theFirehoseProject bootcamp. It is my first web application and was built with ruby on rails.
  </p>
  <p>
    Please help spread liberty, or 'anarchqy', by entering in your favorite quotes from your favorite anarcho-capitalists!
  </p>
 
  <h2 class="text-center">Anarcho-Capitalism</h2>
  <div class="col-xs-12 col-sm-4">
  <div class="ancap"><%= image_tag 'ancap.png', :class => 'img-responsive' %> </div>
  </div>
  <br />
  <p>
  Many people are turned off by the term 'anarchy,' mostly due to misunderstanding. It comes from the greek word <i>anarchia</i> which literally means without rulers. Under anarchy, there are still rules, laws, order, and justice; we'd argue there's more of it. An anarcho-capitalist society merely means that all goods and services (including those commonly believed can only be provided by governments) are are voluntarily exchanged and are subject to market competition. We at Anarchquotes believe that an anarchist society is more just, less abusve, and more responsive to people's needs than one based on governments.
  </p>
  </div>
</div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />