<h4>
  <span>Anarchquote <%= @quote.unique_tag %></span>
</h4>
<div class="well">
<h1>"<%= @quote.saying %>"</h1>
<h3 class="pull-right">- <%= @quote.author %></h3>

<br class="clear" />
</div>
<br />
<br />
<br />
<br />
<br />
<br />